html {
    height: 100%
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "fanwooditalic", Times, Tahoma;
}
#map-canvas {
    height: 100%
}
#map-hover {
    width: 800px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -760px;
    background: #F5F5F5;
    z-index: 10;
    -webkit-transition: left .5s linear;
    transition: left .5s linear;
    border-right: 3px solid #95C11E;
}
#map-hover-grey {
    width: 100%;
    height: 100%;
    background: #575756;
    opacity: .5;
    z-index: 20;
    display: none;
    position: fixed;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}
#map-hover-popup-create, #map-hover-popup {
    width: 40%;
    height: 40%;
    background: #F5F5F5;
    border-radius: 5px;
    display: none;
    z-index: 40;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -20%;
    margin-top: -20%;
}
p.haveBookId {
    display: none;
}
.imgBookUp img {
    width: 80px;
}
.imgBookUp {
/*    display: none;
*/    float: left;
    margin-right: 10px;
    width: 85px;
    min-height: 120px;
    margin-bottom: 10px;
    background: lightgrey;
}
.bookStep {
    clear: both;
}
#topBar {
    width: 100%;
    height: 50px;
    background: #F5F5F5;
    position: fixed;
    z-index: 30;
    -webkit-transition: top .5s linear;
    transition: top .5s linear;
    border-right: 3px solid #95C11E;
    top: -50px;
    text-align: center;
}
#topBar.opened {
    top: 0;
}
#map-hover.opened {
    left: 0;
}
#map-hover .top {
    margin-top: 10px;
}
#map-hover .top .logo {
    background: url(images/logo-flat.png) top left no-repeat;
    width: 200px;
    height: 65px;
    margin-left: 30px;
    float: left;
}
#map-hover .top .drag {
    background: url(images/lines-drag.png) top left no-repeat;
    width: 65px;
    height: 65px;
    cursor: pointer;
    margin-left: 730px;
}
#map-hover .menu {
    float: left;
    width: 170px;
}
#map-hover .menu ul {
    list-style: none;
    margin-left: 40px;
    padding: 0;
}
#map-hover .menu ul li {
    display: block;
    width: 160px;
    height: 45px;
    font-size: 14pt;
}
#map-hover .sideContent {
    width: 550px;
    float: left;
    height: 90%;
}
#map-hover .sideContent .topMenu ul {
    list-style: none;
}
#map-hover .sideContent .topMenu ul li {
    float: left;
    width: 160px;
    height: 45px;
    font-size: 14pt;
}
ul li a {
    color: #B2B2B1;
    text-decoration: none;
}
ul li a.active{
    color: #575756;
}
ul li a:hover {
    color: #575756;
}
.sideContent .topMenu, .sideContent .newBookForm {
    display: none;
}
.sideContent .content {
    clear: both;
}
#map-hover-feedback {
    display: none;
}
div.sideContent {
    margin-top: 20px;
}
.newBookForm {
    font-size: 14pt;
}
.newBookForm span {
    color: darkgrey;
}
span#bookID {
    color: #a8c946;
}
.newBookFrom p {
    font-size: 15pt;
}
input#bookCode, input#bookTitle, input#bookCodeFind {
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    font-size: 16pt;
    font-family: "fanwooditalic";
}
input#submitCode, input#submitTitle, input#submitReview {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    font-size: 16pt;
    font-family: "fanwooditalic";
    color: #fff;
    background-color: #a8c946;
}

input#submitReview {
    width: 200px;

}

#map-hover-feedback {
    display: none;
    width: 400px;
    height: 200px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    background: #fff;
    border-radius: 5px;
    left: 50%;
    margin-left: -220px;
    top: 50%;
    margin-top: -120px;
    padding: 20px;
}

#map-hover-feedback h3 {
    margin-top: 0;
}

input#yourName,
textarea#review {
    width: 100%;
}
input#yourName {
    height: 20px;
    padding: 4px;
}
textarea#review {
    margin-top: 10px;
    height: 60px;
    padding: 4px;
}

/* div.bookStep:first-child {
    margin-top: 20px;
}
*/
.bookUpDetails span.title, .newBookFrom span.title {
    font-size: 1.8em;
    color: #000;
}
.bookUpDetails span.author, .newBookFrom span.author {
    color: darkgrey;
}
.finishedButton {
    display: none;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 5px;
    width: 115px;
    margin-left: 91px;
    font-size: 16pt;
    font-family: "fanwooditalic";
    color: #fff;
    background-color: grey;
    cursor: pointer;
}
#haveBookId {
    color: darkgrey;
}
#map-hover .sideContent {
    overflow: scroll;
}

.journeyElement {
    clear: both;
    margin-bottom: 30px;
}
.journeyElement .title {
    font-size: 1.3em;
    color: #000; 
}
.journeyElement .location {
    color: darkgrey;
}
.journeyElement .description {
    
}

.bookStep {
    min-height: 135px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url("images/expand.png");
    background-position: 530px 100px;
    border-bottom: 1px solid lightgrey;
    margin-top: 5px;
}
.journeyElement {
    padding-left: 95px;
}
.bookStep > .journey {
    display: none;
}
.bookStep.expanded {
    background-image: url("images/collapse.png");
}
.bookStep.expanded > .journey {
    display: inline;
    
}
div.bookStep.park {
    background-image: none;
    min-height: 100px;
}

h3 {
    margin-top: 0;
}