html {
    height: 100%
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "fanwooditalic", Times, Tahoma;
}
#map-canvas {
    height: 100%
}

#map-hover {
    width: 55%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -52%;
    background: #F5F5F5;
    z-index: 10;
    -webkit-transition: left .5s linear;
    transition: left .5s linear;
    border-right: 3px solid #95C11E;
}


#map-hover-grey {
    width: 100%;
    height: 100%;
    background: #575756;
    opacity: .5;
    z-index: 20;
    display: none;
    position: fixed;
    -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

#map-hover-popup-create,
#map-hover-popup {
    width: 40%;
    height: 40%;
    background: #F5F5F5;
    border-radius: 5px;
    display: none;
    z-index: 40;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -20%;
    margin-top: -20%;
}

p.haveBookId {
    display: none;
}

#topBar {
    width: 100%;
    height: 50px;
    background: #F5F5F5;
    position: fixed;
    z-index: 30;
    -webkit-transition: top .5s linear;
    transition: top .5s linear;
    border-right: 3px solid #95C11E;
    top: -50px;
    text-align: center;
}
#topBar.opened {
    top: 0;
}

#map-hover.opened {
    left: 0;
}

#map-hover .top {
    margin-top: 10px;
}
#map-hover .top .logo {
    background: url(images/logo-flat.png) top left no-repeat;
    width: 200px;
    height: 65px;
    margin-left: 30px;
    float: left;
}
#map-hover .top .drag {
    background: url(images/lines-drag.png) top left no-repeat;
    width: 65px;
    height: 65px;
    cursor: pointer;
    margin-left: 93.5%;
}
#map-hover .menu { 
    float: left;
}
#map-hover .menu ul {
    list-style: none;
    margin-left: 40px;
    padding: 0;
}
#map-hover .menu ul li {
    display: block;
    width: 160px;
    height: 45px;
    font-size: 20pt;
}

#map-hover .sideContent {
    width: 80%;
    height: 100%;
}

#map-hover .sideContent .topMenu ul {
    list-style: none;
}
#map-hover .sideContent .topMenu ul li {
    float: left;
    width: 160px;
    height: 45px;
    font-size: 20pt;
}

ul li a {
    color: #B2B2B1;
    text-decoration: none;
}
ul li a:hover {
    color: #575756;
}

.sideContent .topMenu,
.sideContent .newBookForm {
    display: none;
}
.sideContent .content {
    clear: both;
}
